@font-face {
  font-family: "iconfont"; /* Project id 4901017 */
  src: url('//at.alicdn.com/t/c/font_4901017_4k2x96eykne.woff2?t=1745246000959') format('woff2'),
       url('//at.alicdn.com/t/c/font_4901017_4k2x96eykne.woff?t=1745246000959') format('woff'),
       url('//at.alicdn.com/t/c/font_4901017_4k2x96eykne.ttf?t=1745246000959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e601";
}

.icon-zhihu:before {
  content: "\e602";
}

.icon-csdn1-copy:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e849";
}
